.game{
    background: #EB8317; /* Orange background */
  
  }


.plantsCards {
    display: grid;           /* Use grid layout */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));  /* Automatically adjust columns based on screen width */
    gap: 16px;               /* Space between the boxes */
    margin-top: 20px;        /* Add space above the container */
}
  
  
.titlePotion {
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 30px;
    background-color: white;    
    width: 80vh; /* Adjust this to your preference */
    height: 10vh; /* This will make the height 80% of the viewport height */
}

.plantsOptions {
    display: grid;           /* Use grid layout */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));  /* Automatically adjust columns based on screen width */
    gap: 16px;               /* Space between the boxes */
    margin-top: 20px;        /* Add space above the container */
}


@media (max-width: 768px) {
    .titlePotion {
        padding: 10px;
        height: 10vh; /* Adjust max height on smaller screens */
        width: 60vh;
        gap: 15px; /* Optional: Reduce the gap for smaller screens */
        }
    .plantsOptions {
        padding: 10px;
        max-height: 60vh; /* Adjust max height on smaller screens */
        gap: 15px; /* Optional: Reduce the gap for smaller screens */
    }
}

@media (max-width: 480px) {
    .titlePotion {
        padding: 5px;
    
        max-width: 45vh;
        width: 40vh;
        gap: 10px; /* Optional: Reduce the gap more */
        }
    .plantsOptions{
        padding: 5px;
        max-width: 45vh;
        max-height: 50vh; /* Adjust max height even further */
        gap: 10px; /* Optional: Reduce the gap more */
    }
}
